<a href="https://colab.research.google.com/github/spctr01/Customer-propensity-to-churn-Prediction/blob/master/Churn_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [10]:
data = pd.read_csv('churn_prediction.csv', error_bad_lines=False)
data.head()

b'Skipping line 8694: expected 21 fields, saw 32\nSkipping line 17307: expected 21 fields, saw 28\n'

   customer_id  vintage  ...  previous_month_balance churn
0          1.0   3135.0  ...                 1458.71   0.0
1          2.0    310.0  ...                 8787.61   0.0
2          4.0   2356.0  ...                 5070.14   0.0
3          5.0    478.0  ...                 1669.79   1.0
4          6.0   2531.0  ...                 1677.16   1.0

[5 rows x 21 columns]

In [16]:
print(data.shape)
#checking for balance of data 
data['churn'].value_counts()

(28380, 21)

0.0    23121
1.0     5258
Name: churn, dtype: int64

In [21]:
#null values 
data.isnull().sum()

customer_id                          0
vintage                              0
age                                  0
gender                             526
dependents                        2464
occupation                          81
city                               804
customer_nw_category                 1
branch_code                          1
days_since_last_transaction       3224
current_balance                      1
previous_month_end_balance           1
average_monthly_balance_prevQ        1
average_monthly_balance_prevQ2       1
current_month_credit                 1
previous_month_credit                1
current_month_debit                  1
previous_month_debit                 1
current_month_balance                1
previous_month_balance               1
churn                                1
dtype: int64